<h3>Treatments</h3>
<div class="container" id="treatment-form">


<%= f.text_field :med_name, placeholder: "Medication Name", list: "treatments_autocomplete" %>
  <datalist id="treatments_autocomplete">
    <% Treatment.all.each do |t| %>
    <option value="<%= t.med_name %>">
      <% end %>
  </datalist>

<%= f.text_field :med_dosage, placeholder: "Medication Dosage" %>

<%= f.text_field :therapy_name, placeholder: "Therapy Type" %>

<%=  f.text_area :comments %><br>


<%= f.submit "Submit", class: 'form-control' %>
</div>
