<h1>Add a Therapist</h1>

<div class="container" id="therapist-form">

<%= bootstrap_form_for @therapist, url: therapists_path do |f| %>
<%= errors_for(@therapist) %>

<%= f.text_field :name, placeholder: "Therapist's Name" %>

<%= f.text_field :location, placeholder: "Therapist's Location" %>

<%=  f.text_field :phone_number %><br>


<%= f.submit "Submit", id: 'new_therapist', class: 'form-control' %>
</div>
<% end %>
