<div class="container" id="therapist-form">

<%= bootstrap_form_for @user_therapist do |f| %>
<%= errors_for(@user_therapist) %>

<%= f.text_field :name, placeholder: "Therapist's Name" %>

<%= f.text_field :location, placeholder: "Therapist's Location" %>

<%= f.submit "Submit", class: 'form-control' %>
</div>
<% end %>
