


<%= errors_for(@disorder) %>

<div class="field">
   <%= f.label :disorder %><br>
   <%= f.collection_select Disorder.all, :id, :name %>
 </div>

  <label>Take Control of Your Story</label>
  <%= f.fields_for :user_disorders, @disorder.user_disorders do |ff| %>
  <%= ff.text_area :narrative, size: "80%x20%" %>

  <%= ff.hidden_field :disorder_id, value: @disorder %>
  <%= ff.hidden_field :user_id, value: current_user.id %>



<br>
<% end %>


  <%= f.submit 'Submit', class: 'form-control' %>
