


<%= errors_for(@disorder) %>

<%= f.text_field :name, list: "disorders_autocomplete" %>
  <datalist id="disorders_autocomplete">
    <%Disorder.all.each do |d| %>
    <option value="<%= d.name %>">
      <% end %>
  </datalist>

  <%= f.text_area :description %>

  <label>Take Control of Your Story</label>
  <%= f.fields_for :user_disorders, @disorder.user_disorders do |ff| %>
  <%= ff.text_area :narrative, size: "80%x20%" %>

  <%= ff.hidden_field :disorder_id, value: @disorder %>
  <%= ff.hidden_field :user_id, value: current_user.id %>



<br>
<% end %>


  <%= f.submit 'Submit', class: 'form-control' %>
