



<%= f.text_field :name, list: "disorders_autocomplete" %>
  <datalist id="disorders_autocomplete">
    <%Disorder.all.each do |d| %>
    <option value="<%= d.name %>">
      <% end %>
  </datalist>

  <%= f.text_area :description %>

  <label>Take Control of Your Story</label>
  <%= f.fields_for :user_disorders, @user_disorder do |ff| %>
  <%= ff.text_area :narrative, size: "80%x20%" %>


<br>
<% end %>


  <%= f.submit 'Submit', class: 'form-control' %>
