<h1>Your Story</h1>

<h3> Name: <%= @disorder.name %></h3></div>
<h4> Description: <%= @disorder.description %></h4>

<h4>Story</h4>
<p><%= @user_disorder.narrative %></p>

<%= link_to "Edit Disorder", edit_disorder_path(@disorder), class: "btn btn-primary" %>
<%= link_to 'Read Stories', user_disorders_path, class: "btn btn-primary" %></li>
