<h1>Disorders#show</h1>
<p>Find me in app/views/disorders/show.html.erb</p>

<h3> Name: <%= @disorder.name %></h3></div>
<h4> Description: <%= @disorder.description %></h4>

<h4>Story</h4>
<p><%= @user_disorder.narrative %></p>

<%= link_to "Edit Disorder", edit_disorder_path(@disorder), class: "btn btn-primary" %>
<li><%= link_to 'Read Stories', disorder_user_disorders_path(@disorder) %></li>
